.home-list {
    width: 80%;
    max-width: 300px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.list-link {
    width: 3rem;
    display: block;
    overflow: hidden; 
    transition: all ease-in-out 150ms;
}
.list-link:hover {
    color: #ff6b7a;
}