.projects-wrapper {
    width: 70%;
    height: calc(80vh);
    padding: 1rem;
    margin: auto;
}
.projects-wrapper:hover > div div {
    filter: blur(5px) opacity(60%);
    transition: all 0.2s ease;
}
.projects-wrapper div:hover div {
    filter: blur(0px) opacity(100%);
    transform: scale(1.035);
    transition: all 0.2s ease;
}